* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    img {
        width: 200px;
        height: 200px;
    }

    .name {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            border-radius: 30px;
            background-color: rgb(200, 200, 200);
            width: 75%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                width: 70%;
                height: 80%;

                &>div:first-child {
                    width: 100%;
                    height: 60%;
                    display: flex;

                    div {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        label {
                            margin-bottom: 25px;
                        }

                        input {
                            width: 75%;
                            height: 10%;
                            border: none;
                            border-radius: 30px;
                        }
                    }
                }

                &>div:nth-child(2) {
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    input {
                        padding: 10px;
                        width: 50px;
                    }
                }

                &>div:last-child {
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    #errorInput {
                        color: red;
                        margin: 5px 0;
                    }

                    .none {
                        display: none;
                    }

                    button {
                        padding: 15px 50px;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .win {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;

        &>div {
            border-radius: 30px;
            background-color: rgb(200, 200, 200);
            width: 75%;
            height: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            div:last-child {
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                button {
                    padding: 20px 25px;
                    border-radius: 10px;
                    border: none;
                    text-transform: uppercase;
                    transition: all .5s ease;

                    &:hover {
                        background-color: rgba(117, 117, 117, 0.55);
                        cursor: pointer;
                        color: white;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        height: 90%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .score {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            .bloc {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                &>div:first-child {
                    width: 50%;
                    display: flex;
                }

                &>div:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 50%;

                    &>div {
                        padding: 50px 0px;

                        &>p {
                            margin-bottom: 5px;
                        }

                        div {
                            display: flex;

                            p {
                                margin-right: 15px;
                            }
                        }
                    }

                    &>div:nth-child(2) {
                        width: 1px;
                        height: 100%;
                        border: solid 1px rgb(172, 172, 172);
                    }
                }
            }
        }

        .morpion {
            width: 60%;
            height: 80%;
            display: flex;

            &>div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;

                &>div {
                    width: calc(100% / 3);
                    height: calc(100% / 3);
                    cursor: pointer;
                    transition: all .5s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 60px;
                    color: rgb(186, 186, 186);

                    &:hover {
                        background-color: rgba(117, 117, 117, 0.30);
                    }
                }

                &>div:nth-child(2) {
                    border-right: 4px solid rgba(117, 117, 117, 0.75);
                    border-left: 4px solid rgba(117, 117, 117, 0.75);
                }

                &>div:nth-child(4) {
                    border-top: 4px solid rgba(117, 117, 117, 0.75);
                    border-bottom: 4px solid rgba(117, 117, 117, 0.75);
                }

                &>div:nth-child(5) {
                    border: 4px solid rgba(117, 117, 117, 0.75);
                }

                &>div:nth-child(6) {
                    border-top: 4px solid rgba(117, 117, 117, 0.75);
                    border-bottom: 4px solid rgba(117, 117, 117, 0.75);
                }

                &>div:nth-child(8) {
                    border-right: 4px solid rgba(117, 117, 117, 0.75);
                    border-left: 4px solid rgba(117, 117, 117, 0.75);
                }

            }
        }

        @media screen and (max-width: 720px) {
            flex-direction: column;

            .score {
                width: 100%;
                height: 20%;

                .bloc {

                    &>div {
                        padding: 10px;
                    }
                }
            }

            .morpion {
                width: 100%;
                height: 60%;
            }

            .player {
                width: 100%;
                height: 20%;

                .bloc {

                    &>div {
                        padding: 10px;
                    }
                }
            }
        }

        @media screen and (min-width: 720px) and (max-width: 1024px) {
            flex-direction: column;
            height: 100%;

            .score {
                width: 100%;
                height: 20%;

                .bloc {

                    &>div {
                        padding: 10px;
                    }
                }
            }

            .morpion {
                width: 100%;
                height: 60%;
            }

            .player {
                width: 100%;
                height: 20%;

                .bloc {

                    &>div {
                        padding: 10px;
                    }
                }
            }
        }
    }


    footer {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(117, 117, 117, 0.75);

        button {
            padding: 20px 25px;
            border-radius: 10px;
            border: none;
            text-transform: uppercase;
            transition: all .5s ease;

            &:hover {
                background-color: rgba(117, 117, 117, 0.55);
                cursor: pointer;
                color: white;
            }
        }
    }


}
